.backgroundColor{
    background-color:#EEEEEE;
    height: auto;
    padding-bottom: 30px;
    
}
.currentpassword{
    padding-left: 87px;
    padding-top:4px;
    
  }
  .widthofthepage{
    width: 88%;
    margin: auto;
  }
.checking{
    margin-bottom: 0;
}

@media only screen and (min-width: 280px) and (max-width: 540px) {
  .currentpassword {
    padding-left: 17px !important;
  }
  
}
@media only screen and (min-width: 541px) and (max-width: 820px) {
  .currentpassword {
    padding-left: 17px !important;
  }
  
}
@media only screen and (min-width: 821px) and (max-width: 989px) {
  .currentpassword {
    padding-left: 17px !important;
  }

}

@media only screen and (min-width: 990px) and (max-width: 1024px) {
  .currentpassword {
    padding-left: 33px !important;
  }
  
}
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .currentpassword {
    padding-left: 76px !important;
  }
  
}
