.BackgroundImage{
  background-image: url('/back.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      
      height: 100vh;
  }
  .Heading{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color:white;
      font-size: 30px;
  }
  .forgetPassword{
      color:blue;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 13px;
  }
  .DonotPassword{
      color:black;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 13px;
  
  }